body{
    padding: 0;
    margin: 0;
}

.header{
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: white;
    padding-bottom: 40px;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.under-header{
    background-color: #1f2937;
    display: flex;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.main-text{
    
    width: 400px;
}
.text-header{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding-bottom: 5px;
}

.text-paragraph{
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 5px;
}
.sign-up{
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 20px;
    
}
.image-placeholder{
    background-color: gray;
    padding: 90px 110px;
}
.second-bar{
    padding-top: 25px;
    padding-bottom: 25px;
    

}
.second-bar-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding-bottom: 50px;
}
.group-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-right: auto;

}
.image-text{
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
.image{
    width: 150px;
    height: 175px;
    border: 2px solid;
    border-radius: 7px;
}
.text{
    width: 150px;
    text-align: center;
}
.third-bar{
    padding: 50px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}
.quote-box{
    width: 800px;
    
}
.quote{
    font-size: 36px;
    font-style: italic;
}
.author{
    text-align: end;
    font-weight: bolder;
}
.fourth-bar{
    padding: 40px;
    display: flex;
    justify-content: center;
}
.action-box{
    padding: 25px 50px;
    background-color: #3882f6;
    width: 500px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-left-title{
    color: white;
    font-weight: bold;

}
.box-left-text{
    color: white;
    font-size: 12px;
}
.sign-up2{
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}